<!DOCTYPE html>
<html>
<title>Glamgping</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="#" class="w3-bar-item w3-button w3-red w3-mobile"><img src="static\img\Glamping.png" height="30px"></a>
  <a href="#hoom" class="w3-bar-item w3-button w3-mobile">Home</a>
  <a href="#rooms" class="w3-bar-item w3-button w3-mobile">Rooms</a>
  <a href="#location" class="w3-bar-item w3-button w3-mobile">location</a>
  <a href="#contact" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">log in</a>
</div>

<header class="w3-container w3-teal">
  <h1>Login </h1>
</header>

<div class="w3-container w3-half w3-margin-top">

<form class="w3-container w3-card-4">

<p>
<input class="w3-input" type="text" style="width:90%" required>
<label>Name</label></p>
<p>
<input class="w3-input" type="password" style="width:90%" required>
<label>Password</label></p>

<p>
<input class="w3-radio" type="radio" name="gender" value="male" checked>
<label>Male</label></p>

<p>
<input class="w3-radio" type="radio" name="gender" value="female">
<label>Female</label></p>

<p>
<input class="w3-radio" type="radio" name="gender" value="" disabled>
<label>Don't know (Disabled)</label></p>

<p>
<input id="milk" class="w3-check" type="checkbox" checked="checked">
<label>Stay logged in</label></p>

<p>
<button class="w3-button w3-section w3-teal w3-ripple"> Log in </button></p>

</form>

</div>

</body>
</html> 