<!DOCTYPE html>
<html>
<title>Glamping</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", Arial, Helvetica, sans-serif}
</style>
<body class="w3-light-grey">

<!-- Navigation Bar -->
<div class="w3-bar w3-white w3-large">
  <a href="#" class="w3-bar-item w3-button w3-red w3-mobile"><img src="static/img/Glamping.png" height="30px"></a>
  <a href="#hoom" class="w3-bar-item w3-button w3-mobile">Home</a>
  <a href="#rooms" class="w3-bar-item w3-button w3-mobile">Rooms</a>
  <a href="#location" class="w3-bar-item w3-button w3-mobile">location</a>
  <a href="#contact" class="w3-bar-item w3-button w3-right w3-light-grey w3-mobile">log in</a>
</div>

<div class="w3-container w3-margin-top" id="rooms">
  <h1>Rooms</h1>
</div>

  <div class="w3-half w3-margin-bottom">
    <div class="w3-display-container">
      <img src="static\img\pexels-mac-destroir-2662816.jpg" alt="Norway" style="width:100%">
      <div class="w3-container w3-white">
        <h3>Single Room</h3>
        <h6 class="w3-opacity">From $99</h6>
        <p>Single bed</p>
        <p>15m<sup>2</sup></p>
        <p class="w3-large"><i class="fa fa-bath"></i> <i class="fa fa-phone"></i> <i class="fa fa-wifi"></i></p>
        <button class="w3-button w3-block w3-black w3-margin-bottom">Choose Room</button>
      </div>
    </div>
  </div>
  <div class="w3-half w3-margin-bottom">
 <div class="w3-container w3-white">
  <div class="w3">
    <label><i class="fa fa-calendar-o"></i> Check In</label>
    <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY">
  </div>
  <div class="w3 m3">
    <label><i class="fa fa-calendar-o"></i> Check Out</label>
    <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY">
  </div>
  <div class="w3 m2">
    <label><i class="fa fa-male"></i> Adults</label>
    <input class="w3-input w3-border" type="number" placeholder="1">
  </div>
  <div class="w3 m2">
    <label><i class="fa fa-child"></i> Kids</label>
    <input class="w3-input w3-border" type="number" placeholder="0">
  </div>
  <div class="w3 m2">
    <label><i class="fa fa-search"></i> Search</label>
    <button class="w3-button w3-block w3-black">Search</button>
  </div>
 </div>


</body>
</html>